
<div class ="row">
    <div class = "col-6 top_menu">
      <div class="row">
        <div class = "site_logo"></div>
      </div>
      <div class='row'>
        <div class = "site_explanation">
          <p>WonderfulLifeは料理投稿に特化した一般向けSNSアプリです。<br><br>
            世の中に料理サイトは多くありますが、もっと気軽に調べて共有できる場所がもっとあればと考えています。<br>
            WonderfulLifeでは他の料理投稿サイトと比べて、普段は料理投稿をしないユーザでもその日食べた料理やレシピを簡単に投稿することができるフォーマットを用意しています。<br>
            またユーザ同士が料理を通して交流しやすい仕組みや機能を採用しているため、他のサイトにはない拡散力が期待できます。</p>
        </div>
      </div>
      <div class='row'>
        <div class = "information">
          <ul>
            <li class = offset-3 col-2><%= link_to "新規登録", new_user_session_path %></li>
            <li><%= link_to "ログイン", user_session_path %></li>
            <li><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %></li>
            <li><%= link_to '管理者ログイン', users_admin_guest_sign_in_path, method: :post%></li>
          </ul>
        </div>
      </div>
      
    </div>

    <div class = "col-6 top_menu">
      <div class = "row">
        <div id="randomImg"></div>
      </div>
    </div>
</div>