<div class="nested-fields">
  <div class="row mx-auto">
  
    <div class="offset-1 col-2"><%= f.file_field :procedure_image, onchange: 'previewImage(preview)', class: "form-control find_procedure_image", placeholder: "手順画像" %></div>
    <div class="col-5"><%= f.text_field :procedure, class: "form-control find_procedure", placeholder: "手順" %></div>
    <div class="offset-1 col-1 px-0 w-auto">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %>
    </div>
  </div>
</div>
