/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background-color: lavender;
  /* background-image: url('https://user-images.githubusercontent.com/85597833/139173393-a01b90cc-46f6-4e6e-b812-e69903152ee5.jpg'); */
}

.login_home {
  margin-top: 0px;
  width: 100%;
  height: auto;
}

.bg-main{
  background-color:ivory;
  border-radius: 15px;
  margin: 10px;

}


footer {
  width: 100%;
  height: auto;
  text-align: center;
}

footer p {
  padding-top: 25px;
}

.container_main {
  width: 100%;
  height: 620px;
  float: left;
}


.field {
  text-align: center;
  height:auto
}

.bg-form {
  background-color: ivory;
  text-align: center;
  height: auto;
  border-radius: 15px;
  padding: 50px;
  margin-top:100px;
}

.field_with_errors {
  display: contents
}

.tab {
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
.tabbox {
  display: none;
  padding: 15px;
}
.box-show {
  display: block;
}
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

.error_explanation {
  height:auto;
  text-align: center;
}

.error_explanation p {
  padding: 10px;
}
.error {
  text-align: center;
}

.kaminari {
  text-align: center;
  padding-top: 30px;
  height: 100px
}

.kaminari li {
  text-align: center;
}

.omniauth-field {
  padding-top: 20px;
}