// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment_form {
    height: auto;
}

.comment_button{
    height: auto;
}

.all_comments {
    padding-top: 20px;
    
}

.comment_index {
    text-align: left;
    overflow-wrap: break-word;
    height: auto;
    border: 1px solid;
    margin: 10px;
}

