// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  float: left;
  list-style: none;
  padding: 10px;
}

.container_index {
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 650px;
}
.post_index {
  display: inline-block;
  height: auto;
  text-align:center; 
}

.side_menu {
  display: inline-block;
  height: 650px;
  width: 100%;
  background-color:ivory;
  border: 0.5px solid;
  border-radius: 15px;
  margin: 10px;
}

.post_field {
  height:auto;
  padding-left: 20px;
  padding-right: 20px;
  border: 0.5px solid;
  border-radius: 15px;
  background-color:ivory;
  margin:10px;
  margin-left: 40px;
  margin-right: 40px;
}


.title-photo {
  height: auto;
}

.title_menu {
  height: auto;
  padding-top: 20px;
  text-align: left;
}

.title_menu p {
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.title_field {
  height: auto;
}

.title_field_m {
  height: auto;
}

.post-material-select {
  background: linear-gradient(transparent 90%, #99ccff 0%);
}


.content_field {
  height: 150px;
}

.content_field p {
  float: left
}

.icon{
  width: 120px;
  height: 120px;
}

.recipe {
  display: inline-block;
  height: auto;
  background-color:ivory;
  text-align:left;
  border: 1px solid;
}

.error_explanation {
  width: 100%;
  height: 100px;
}

.error_explanation h2 li {
  font-size: 2px;
}

.container_post {
  height: auto;
  text-align: center;
}

.top_post {
  width: 100%;
  height: 400px;
}

.title_form {
  width: 50%;
  height: 300px;
  float: left;
}

.title_photo {
  width: 100%;
  height: 200px;
  text-align: center;

}

.title_comment {
  width:100%;
  height: auto;
}

.reciep-comment-form {
  // border: 2px solid #0a0;  /* 枠線 */
  // border-radius: 0.67em;   /* 角丸 */
  padding: 0.5em;          /* 内側の余白量 */
  background-color: snow;  /* 背景色 */
  box-sizing: border-box;  /* ※これがないと横にはみ出る */
  height: 100%;
  width: 100%;           /* 高さ */
  font-size: 1em;          /* 文字サイズ */
  line-height: 1.2;
  overflow-wrap: break-word;       /* 行の高さ */
}

// .reciep-comment-form:focus {
//   border-color: skyblue;   /* 枠線の色 */
//   background-color: #ffc;  /* 背景色 */
//   outline: none;           /* ※ブラウザが標準で付加する線を消したいとき */
// }

.mx-auto {
padding: 10px;
}


.category_post {
width: 100%;
height: auto;
padding: 10px;
}

.tag_form {
padding: 10px;
}

.tag_form p {
text-align: center;
}

.action {
width:100%;
height: 50px;
float: left;
}

.action p {
float: left;
}

.show_item {
height: auto;
text-align: center;
padding-top: 10px;
}


.item_menu {
height: auto;
}


.item_menu p {
float: left;
padding: 10px;
}

.show_page {
height: auto;
}

.show_recipe {
height: auto;

}

.show_title {
height: auto;
}

.show_photo {
height:auto;
padding-left: 10px;
}



.show_tag {
height: auto;
padding-left: 30px;
padding-top: 30px;
}

.material_title {
height: auto;
text-align: center;
}

.show_material {
height: auto;
border: 1px dotted;
text-align: center;

}

.post_material {
  text-align: right;
  padding-right: 20px;
  padding-top: 5px;
}

.post_amount {
  text-align: left;
  padding-left: 20px;
  padding-top: 5px;
}

.show_process {
height: auto;
text-align: center;
border: 1px dotted;
}

.process {
  padding: 10px;
}

.image {
height: 200px;
}

.process {
height: auto;
font-size: 20px;
text-align: left;
padding-top: 20px;
}

.user_text {
height: auto;
}

.show_text {
height: auto;

}

.show_text p {
font-size: 20px;
}

.one_comment {
height: 30px;
padding: 30px;
}

.one_comment p {
font-size: 20px;
}


.show_comment {
height: 1000px;
float: left;
padding-top: 10px;
background-color:bisque;
overflow: scroll;
}

.recipe_title_field {
height: 50px;
text-align: center;

}

.recipe_title_field p {
font-size: 30px;
height: 50px;
padding-top:20px;
}

.recipe_title {
height: auto;
padding:20px;
text-align: center;
}

.recipe_index {
height: auto;
}

.link_form {
height: auto;
}

.rx-title {
padding: 18px;
}

.rx-link {
padding: 18px;
}

.show_comment {
text-align: center;
}

