.error {
    height: 200px;
}
.edit_home {
    height:100px; 
}

.user_form {
    height: 100px;
    padding: 20px;
    text-align: center;  
}

.avater {
    height: 100px;
    text-align: center;  
}

.avater p {
    font-size: 15px;
}

.user_information {
    height: 200px;
    text-align: center;  
}

.user_information p {
    font-size: 20px;
}

.user_comment {
    height: 200px;
}

.profile {
    padding-top: 50px;
    padding-left: 30px;
}

.field {
    height: 100px;
}

