// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top_menu {
  width: 50%;
  height: 620px;
  float: left;
  background-color: darkseagreen;
}
  
  

#randomImg {
    width: 100%;
    height: 620px;
    margin: 0;
    background-image: url("https://user-images.githubusercontent.com/85597833/135962160-9477fe30-c30e-4185-9937-eca244ffe433.jpg");
    background-position:center center;
    background-repeat: no-repeat;
    background-size:cover;
    

    display: block;
}

.site_logo {
  width: 100%;
  height: 200px;
  background-image: url("https://user-images.githubusercontent.com/85597833/135971434-f0d70486-0ffe-4224-9062-e30257dac315.png");
  background-position:center center;
  background-repeat: no-repeat;
  background-size:cover;  
  padding-left: 20px;
  padding-bottom: 50px;
}

.site_explanation {
  width: 95%;
  height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  color:white;
}

.information {
  width: 100%;
  height: 220px;
  padding-left: 50px;
  padding-right: 50px;
}
